*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #140C1F;

    font-family: 'Poppins';
    position: relative;
    
}
.home{
    width: auto;
    height: 80px;
    background-color: #1B102B;
    position: relative;
}

.aside{
    position: absolute;
    width: 280px;
    height: 1024px;
    background-color: #3a2d4c;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid rgb(135, 129, 129);
    align-items: center;
    justify-content: center;
    
}

.aside a {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;


}
.aside a h3{
    font-size: 16px;
    margin-left: 20px;
}
.aside .balence{
    width: 171px;
    height: 161px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
}

.dashboard{
    position: absolute;
    height: 1024px;
    width: 75%;
    margin-left: 22.5%;
}
.dashboard .nav{
    display: flex;
    margin-top: 20px;
    width: auto;
    height: 80px;
    justify-content: space-between;
}
.nav .search_box{
    display: flex;
    width: 540px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #4a3d5b;


}
.search_box i{
    width: 5%;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 8px;
    color: white;
    cursor: pointer;


    
}
.search_box input{
    width: 85%;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #4a3d5b;


}
.search_box input::placeholder{
    font-size: 12px;
    color: #ffffffab;



}


.nav .info{
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;

}
.info .nofti{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #91229385;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
.info .nofti i{
    margin-top: 10px;
    margin-left: 10px;
}
.info .account img{

    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

}
.info .more{
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;

}
.info .more i{
    margin-left: 8px;
    cursor: pointer;

}
.dashboard .category{
    display: flex;
    position: relative;
    margin-top: 20px;
    width: auto;
    height:  944px ;

}
.category .category_left{
    
    width: 60%;
    height: 100%;
  

}
.category_left .container_1{
    display: flex;
    position: relative;
    width: 610px;
    height: 300px;
   


}
.container_1 .bg_container{
    position: absolute;
    margin-top: 20px;
    width: 520px;
    height: 260px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #5d457f;
}
.container_1 .title_section{
    position: absolute;
    margin-left: 25px;
    width: 220px;
    height: 200px;
    margin-top: 50px;
}
.container_1 .title_section h3{
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.container_1 .title_section img{
    margin-top: 90px;
}
.container_1 .list_product{
    position: absolute;
    width: 355px;
    height: 280px;
    margin-left: 250px;
}
.list_product .product_1{
    margin-top: 50px;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_1 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_1 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_1 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}



.list_product .product_2{
    margin-top: 100px;
    margin-left: 50%;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_2 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_2 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_2 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}




.list_product .product_3{

    margin-left: 80px;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_3 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_3 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_3 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}

.category_left .container_2{
    margin-top: 30px;
    position: relative;
    width: 610px;
    height: 300px;



}
.container_2 .title_top{
    display: flex;
    height: 50px;
    width: 100%;

    justify-content: space-between;
}
.title_top .text_title{
    width: 330px;
    height: 100%;

}
.title_top .text_title{
    
    font-size: 30px;
    color: white;
    display: flex;
}
.title_top .text_title img{
    
   width: 25px;
   height: 30px;
   margin-top: 10px;
   margin-left: 10px;
}
.title_top .arts{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.title_top .arts i{
    margin-left: 10px;
    
}


.category .category_right{
    width: 440px;
    height: 100%;


}
.carousel_product{
    margin-top: 20px;
    width: 100%;
    height: 230px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.carousel_product .pre{
    border: 1px solid rgb(202, 147, 216);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   font-size: 20px;
   color: white; 
   background-color: #1B102B;
   
}
.carousel_product .pre i{
    margin-top: 10px;
    margin-left: 15px;

 }
 .carousel_product .room_1{
    margin-left: 15px;
    width: 170px;
    height: 230px;
    background-color: #3a2d4c;
    border-radius: 20px;
 }
 .carousel_product .room_1 img{
    width: 145px;
    height: 104px;
    margin-top: 5px;
    margin-left: 5px;


 }
 .carousel_product .room_1 .user_profile{
    display: flex;
    margin-left: 13px;
 }
 .room_1 .user_profile .avt_user img{
    width: 18px;
    height: 18px;


 }
 .room_1 .user_profile .name_user{
    margin-left: 10px;
    color: white;
    font-size: 14px;

 }
 .room_1 .user_profile .name_user h4{
    font-size: 9px;

 }
 .room_1 .price{
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    color: white;
 }
 .room_1 .price .sale{
    display: flex;
    color: white;
    font-size: 12px;
    margin-left: 8px;

 }
 .room_1 .price .sale img{
    width: 14px;
    height: 14px;

 }
 .room_1 .price .eth{
    margin-left: 10px;
 }
.room_1 .btn_buy img{
    width: 128px;
    height: 24px;
    margin-top: 10px;
    margin-left: 15px;

}


 .carousel_product .next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: white; 
    background-color: #2c213d;
    margin-left: 15px;
    border: 1px solid rgb(176, 96, 187)
    
 }
 .carousel_product .next i{
     margin-top: 10px;
     margin-left: 15px;
 
  }
.category_left .container_3{
    margin-top: 40px;
    width: 610px;
    height: 210px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: rgb(159, 70, 177), 46, 194;

}
.container_3 .top_collection{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin-top: 20px;

}
.container_3 .top_collection .title_cl{
    
    width: 190px;
    height: 36px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.top_collection .over{
    display: flex;
    width: 170px;
    color: white;
    font-size: 14px;
    justify-content: space-around;
    margin-right: 20px;

}
.top_collection .over h4{
    color: rgb(87, 87, 189);
    font-size: 16px;
}
.top_collection .over i{
    margin-top: 4px;
    font-size: 15px;
    color: rgb(40, 96, 136);

}
.container_3 .user_cl{
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    width: 100%;
    justify-content: space-around;
    font-size: 12px;
    color: white;

}
.user_cl .cl_top{
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
}
.user_cl .cl_top .name_top h4{
    font-size: 10px;
    color: gray;

}
.category_right .category_top{
    height: 500px;
    width: 100%;
    background-color: #8664b6;
    border-radius: 20px;
    border:  1px solid gray;
}
.category_right .category_top img{
    margin-top: 20px;
    margin-left: 30px;

}
.category_right .category_bottom{
    height: 380px;
    width: 100%;
    margin-top: 30px;
    background-color: #978ea3;
    border-radius: 20px;
    border:  1px solid gray;
}