*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #140C1F;

    font-family: 'Poppins';
    position: relative;
    
}
.home{
    width: auto;
    height: 80px;
    background-color: #1B102B;
    position: relative;
}

.aside{
    position: absolute;
    width: 280px;
    height: 1024px;
    background-color: #3a2d4c;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid rgb(135, 129, 129);
    align-items: center;
    justify-content: center;
    
}

.aside a {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;


}
.aside a h3{
    font-size: 16px;
    margin-left: 20px;
}
.aside .balence{
    width: 171px;
    height: 161px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
}

.dashboard{
    position: absolute;
    height: 1024px;
    width: 75%;
    margin-left: 22.5%;
}
.dashboard .nav{
    display: flex;
    margin-top: 20px;
    width: auto;
    height: 80px;
    justify-content: space-between;
}
.nav .search_box{
    display: flex;
    width: 540px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #4a3d5b;


}
.search_box i{
    width: 5%;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 8px;
    color: white;
    cursor: pointer;


    
}
.search_box input{
    width: 85%;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #4a3d5b;


}
.search_box input::placeholder{
    font-size: 12px;
    color: #ffffffab;



}


.nav .info{
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;

}
.info .nofti{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #91229385;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
.info .nofti i{
    margin-top: 10px;
    margin-left: 10px;
}
.info .account img{

    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

}
.info .more{
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;

}
.info .more i{
    margin-left: 8px;
    cursor: pointer;

}
.dashboard .category{
    display: flex;
    position: relative;
    margin-top: 20px;
    width: auto;
    height:  944px ;

}
.category .category_left{
    
    width: 60%;
    height: 100%;
  

}
.category_left .container_1{
    display: flex;
    position: relative;
    width: 610px;
    height: 300px;
   


}
.container_1 .bg_container{
    position: absolute;
    margin-top: 20px;
    width: 520px;
    height: 260px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #5d457f;
}
.container_1 .title_section{
    position: absolute;
    margin-left: 25px;
    width: 220px;
    height: 200px;
    margin-top: 50px;
}
.container_1 .title_section h3{
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.container_1 .title_section img{
    margin-top: 90px;
}
.container_1 .list_product{
    position: absolute;
    width: 355px;
    height: 280px;
    margin-left: 250px;
}
.list_product .product_1{
    margin-top: 50px;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_1 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_1 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_1 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}



.list_product .product_2{
    margin-top: 100px;
    margin-left: 50%;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_2 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_2 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_2 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}




.list_product .product_3{

    margin-left: 80px;
    border-radius: 20px;
    position: absolute;
    width: 156px;
    height: 199px;
    backdrop-filter: blur(17.52px);
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.241) 0%, rgba(255, 255, 255, 0.677) 100%);


}
.list_product .product_3 img{
    margin-top: 5px;
    margin-left: 5px;
}
.list_product .product_3 h3{
    font-size: 12.5px;
    color: white;
    margin-left: 20px;
}
.list_product .product_3 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
}

.category_left .container_2{
    margin-top: 30px;
    position: relative;
    width: 610px;
    height: 300px;



}
.container_2 .title_top{
    display: flex;
    height: 50px;
    width: 100%;

    justify-content: space-between;
}
.title_top .text_title{
    width: 330px;
    height: 100%;

}
.title_top .text_title{
    
    font-size: 30px;
    color: white;
    display: flex;
}
.title_top .text_title img{
    
   width: 25px;
   height: 30px;
   margin-top: 10px;
   margin-left: 10px;
}
.title_top .arts{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.title_top .arts i{
    margin-left: 10px;
    
}

.category .category_right{
    background-color: #c2902e;
    width: 40%;
    height: 100%;


}
